body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0EFED; /* Color de fondo gris claro */
}

header {
    background-color: #c44646; /* Verde */
    color: #ffffff; /* Blanco */
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

.servicios {
    padding: 50px 0;
    text-align: center;
}

.contenido {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: left;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.contenido h2 {
    color: #C22E2E; /* Verde */
}

.contenido p {
    line-height: 1.6;
}

.contenido img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

footer {
    background-color: #333333; /* Gris oscuro */
    color: #ffffff; /* Blanco */
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
